body{
    background-color: #D5E1EF;
    font-family: 'Outfit', Sans-Serif;
   
}
.qrCodeGraphics {
    background-color: hsl(0, 0%, 100%);
    width: 275px;
    border-radius: 20px;
    padding: 15px;
    margin: 100px auto;
}
.qrGraphics{
    width: 100%;
    border-radius: 15px;
}
.container{
    align-items: center;
}
.content_head{
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    
}
.content_page{
         font-size: 15px;
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        text-align: center;
}
